/*------------------------------------------------------------------
      [The "base.scss" contains basic default element styles such as 
      (colors, typography, margins & padding)
and you make use of the variables declare previously and mixins as well here.]
------------------------------------------------------------------*/
/* line 7, ../sass/base/_base.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* =============== DEFAULT HTML - LINK STYLES =============== */
/* line 16, ../sass/base/_base.scss */
a {
  text-decoration: none;
  outline: none;
  color: #ffffff;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 25, ../sass/base/_base.scss */
a:hover,
a :focus,
a :active {
  color: #ffffff;
  background: none !important;
  text-decoration: none;
  outline: none;
}

/* =============== DEFAULT HTML - LIST STYLES =============== */
/* line 38, ../sass/base/_base.scss */
ul,
ul li,
ol,
ol li,
p,
form,
input {
  margin: 0;
  padding: 0;
}

/* line 49, ../sass/base/_base.scss */
p {
  margin-bottom: 10px;
}

/* line 53, ../sass/base/_base.scss */
ul,
ul li {
  list-style: none;
}

/* line 1, ../sass/components/_preloader.scss */
body.loaded #preloader {
  opacity: 0;
  visibility: hidden;
}

/* line 6, ../sass/components/_preloader.scss */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 999;
  transition: all .5s ease;
}
/* line 12, ../sass/components/_preloader.scss */
#preloader .loader {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  margin-top: -75px;
  margin-bottom: 0;
  margin-left: -75px;
  margin-right: 0;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e05c1f;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
/* line 22, ../sass/components/_preloader.scss */
#preloader .loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e05c1f;
  animation: spin 3s linear infinite;
}
/* line 30, ../sass/components/_preloader.scss */
#preloader .loader:after {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  content: "";
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e05c1f;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  From {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  To {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  From {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  To {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* Scroll To Top */
/* line 3, ../sass/components/_scrollTop.scss */
.scroll-to-top {
  background-color: #e05c1f;
  display: none;
  width: 50px;
  height: 50px;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  position: fixed;
  right: 0px;
  bottom: 50px;
  z-index: 999;
}

/* line 18, ../sass/components/_scrollTop.scss */
.scroll-to-top:hover,
.scroll-to-top:focus {
  background-color: #e05c1f !important;
  color: #ffffff;
}

/* line 1, ../sass/components/_statisticsCounting.scss */
.statistics-counting {
  width: 100%;
  position: relative;
  top: 700px;
  background: #e05c1f;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  color: #ffffff;
  font-family: "Montserrat" sans-serif;
  text-align: center;
  font-size: 14px;
}
/* line 10, ../sass/components/_statisticsCounting.scss */
.statistics-counting .container .item {
  width: 19%;
  display: inline-block;
  padding-top: 60px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 60px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
/* line 15, ../sass/components/_statisticsCounting.scss */
.statistics-counting .container .item:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
/* line 18, ../sass/components/_statisticsCounting.scss */
.statistics-counting .container .item .number {
  font-weight: 700;
  line-height: 100%;
  font-size: 65px;
}

/* line 1, ../sass/components/_footerSection.scss */
footer {
  background: #000000;
  position: relative;
  top: 750px;
  width: 100%;
}
/* line 5, ../sass/components/_footerSection.scss */
footer .footer {
  padding-left: 40px;
  padding-right: 40px;
}
/* line 9, ../sass/components/_footerSection.scss */
footer .text-center h5 {
  color: #e05c1f;
}
/* line 12, ../sass/components/_footerSection.scss */
footer .text-center span {
  color: #e05c1f;
  font-size: 13px;
}
/* line 16, ../sass/components/_footerSection.scss */
footer .text-center p {
  color: #e05c1f;
  font-size: 14px;
}

/* line 1, ../sass/layout/_header.scss */
.home-section {
  height: 100%;
}

/* line 5, ../sass/layout/_header.scss */
nav#nav-header {
  background-color: none;
  margin-bottom: 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

/* line 16, ../sass/layout/_header.scss */
.container .navbar-header {
  position: relative;
  top: 3px;
}
/* line 18, ../sass/layout/_header.scss */
.container .navbar-header a.navbar-brand {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
}
/* line 23, ../sass/layout/_header.scss */
.container .navbar-header .navbar-toggle {
  margin-right: 0;
  border: none;
}
/* line 26, ../sass/layout/_header.scss */
.container .navbar-header .navbar-toggle:hover,
.container .navbar-header .navbar-toggle :focus {
  background: none;
}
/* line 30, ../sass/layout/_header.scss */
.container .navbar-header .navbar-toggle .icon-bar {
  background: #ffffff;
}
/* line 35, ../sass/layout/_header.scss */
.container .nav-menuItem {
  float: right;
  margin-top: 10px;
}
/* line 39, ../sass/layout/_header.scss */
.container ul.navbar-nav li > a {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  padding-top: 12px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

/* line 48, ../sass/layout/_header.scss */
.navigation-background {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: #000000 !important;
}
/* line 52, ../sass/layout/_header.scss */
.navigation-background .navbar-header {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: relative;
  top: 3px;
}
/* line 56, ../sass/layout/_header.scss */
.navigation-background .navbar-header a.navbar-brand {
  margin-top: 0;
}
/* line 61, ../sass/layout/_header.scss */
.navigation-background .navbar-collapse .navbar-nav li a {
  -webkit-transition: .3s;
  transition: .3s;
}

/* line 68, ../sass/layout/_header.scss */
.home-section-background {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/bg/bg1.jpg) no-repeat center center/cover;
  z-index: 1;
  width: 100%;
  height: 100%;
}
/* line 73, ../sass/layout/_header.scss */
.home-section-background:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(19, 19, 19, 0.79);
  z-index: -1;
}
/* line 80, ../sass/layout/_header.scss */
.home-section-background h2 {
  color: #ffffff;
  font-size: 50px;
  letter-spacing: 5px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
/* line 87, ../sass/layout/_header.scss */
.home-section-background .header-text p {
  letter-spacing: 4px;
  color: #ffffff;
  font-size: 15px;
  margin-top: 40px;
  margin-bottom: 20px;
}
/* line 93, ../sass/layout/_header.scss */
.home-section-background .header-text .margin-top-60 {
  margin-top: 60px;
}

/* line 99, ../sass/layout/_header.scss */
.home-section-background .display-table {
  display: table;
  width: 100%;
  height: 100%;
}
/* line 102, ../sass/layout/_header.scss */
.home-section-background .display-table .display-table-cell {
  display: table-cell;
  vertical-align: middle;
}
/* line 106, ../sass/layout/_header.scss */
.home-section-background .display-table .text-center {
  text-align: center;
}

/* line 112, ../sass/layout/_header.scss */
.button {
  border: none;
  cursor: pointer;
  padding-top: 25px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 25px;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 30px;
  margin-right: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 125, ../sass/layout/_header.scss */
.button:after {
  content: '';
  position: absolute;
  z-index: +1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 133, ../sass/layout/_header.scss */
.button:before {
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

/* line 145, ../sass/layout/_header.scss */
.button-style {
  border-radius: 50px;
  border: 3px solid #ffffff;
  color: #ffffff;
  overflow: hidden;
}
/* line 150, ../sass/layout/_header.scss */
.button-style:hover,
.button-style :active,
.button-style :focus {
  background: #e05c1f !important;
  color: #ffffff !important;
  text-decoration: none !important;
  outline: none;
}
/* line 158, ../sass/layout/_header.scss */
.button-style:before {
  height: 100%;
  position: absolute;
  font-size: 125%;
  line-height: 3.5;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 168, ../sass/layout/_header.scss */
.button-style:active:before {
  color: #e05c1f;
}

/* line 174, ../sass/layout/_header.scss */
.button-style-icon:before {
  left: 130%;
  top: 2px;
}
/* line 178, ../sass/layout/_header.scss */
.button-style-icon:hover:before {
  left: 80%;
}

/* line 183, ../sass/layout/_header.scss */
.button-style-dark {
  border: 3px solid #000000 !important;
  color: #000000;
}

/* line 1, ../sass/pages/_aboutSection.scss */
#about {
  overflow: hidden;
  width: 100%;
  position: relative;
  top: 680px;
  background: #f9f9f9;
}
/* line 7, ../sass/pages/_aboutSection.scss */
#about .row .col-md-6 img {
  position: absolute;
  min-width: 113%;
}
/* line 11, ../sass/pages/_aboutSection.scss */
#about .row .about-me {
  overflow: hidden;
}
/* line 13, ../sass/pages/_aboutSection.scss */
#about .row .about-me p {
  color: #000000;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  font-size: 15px;
  line-height: 32px;
}
/* line 19, ../sass/pages/_aboutSection.scss */
#about .row .about-me h2 {
  padding-left: 50px;
  padding-right: 50px;
}

/* line 26, ../sass/pages/_aboutSection.scss */
.section-space-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* line 1, ../sass/pages/_portfolioSection.scss */
#portfolio {
  position: relative;
  top: 700px;
}
/* line 3, ../sass/pages/_portfolioSection.scss */
#portfolio ul.portfolio {
  list-style: none;
  text-align: center;
  margin-top: 30px;
  margin-left: 8px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
/* line 8, ../sass/pages/_portfolioSection.scss */
#portfolio ul.portfolio li {
  display: inline-block;
  padding-top: 8px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 8px;
  text-transform: capitalize;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 14px;
  font-weight: 400px;
  cursor: pointer;
  border: none;
  color: #333;
}
/* line 17, ../sass/pages/_portfolioSection.scss */
#portfolio ul.portfolio li:hover {
  color: #000000;
  border: none;
}
/* line 22, ../sass/pages/_portfolioSection.scss */
#portfolio ul.portfolio li.active {
  color: #ffffff;
  background-color: #e05c1f;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  border-radius: 20px;
  box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
}
/* line 30, ../sass/pages/_portfolioSection.scss */
#portfolio .margin-top-50 {
  margin-top: 50px;
}

/* line 35, ../sass/pages/_portfolioSection.scss */
.row .col-sm-12 > .section-title {
  text-align: center;
}
/* line 37, ../sass/pages/_portfolioSection.scss */
.row .col-sm-12 > .section-title h2 {
  font-weight: 600;
  border-bottom: 4px double #e05c1f;
  border-radius: 25px;
  width: 350px;
  margin-top: 0px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
/* line 47, ../sass/pages/_portfolioSection.scss */
.row .col-sm-12 > .section-title p {
  margin-bottom: 40px;
  line-height: 25px;
  font-weight: 400px;
}

/* line 54, ../sass/pages/_portfolioSection.scss */
.portfolio-inner .mix {
  display: none;
}

/* line 58, ../sass/pages/_portfolioSection.scss */
.portfolio-inner .item {
  margin-top: 30px;
  position: relative;
  transition: .3s;
}
/* line 62, ../sass/pages/_portfolioSection.scss */
.portfolio-inner .item:hover a:before {
  top: 40%;
  box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
/* line 68, ../sass/pages/_portfolioSection.scss */
.portfolio-inner .item img {
  width: 100%;
}
/* line 71, ../sass/pages/_portfolioSection.scss */
.portfolio-inner .item a:before {
  content: "\f00e";
  font-family: "FontAwesome";
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 2%;
  left: 0%;
  right: 0%;
  font-size: 25px;
  opacity: 0;
  background-color: #e05c1f;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  line-height: 70px;
  margin: 0 auto;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
/* line 87, ../sass/pages/_portfolioSection.scss */
.portfolio-inner .item a:hover:before {
  opacity: 1;
}

/* line 92, ../sass/pages/_portfolioSection.scss */
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  margin-top: 40px;
  font-size: 50px;
  background-color: #e05c1f;
  width: 44px;
  right: 0px;
}

/* line 101, ../sass/pages/_portfolioSection.scss */
.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: inherit;
}

/* line 1, ../sass/pages/_testimonalSection.scss */
.testimonial-section {
  position: relative;
  top: 700px;
  background: #F9F9F9;
}
/* line 5, ../sass/pages/_testimonalSection.scss */
.testimonial-section .container .testimonial-carousel-list {
  background-color: #ffffff;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
  transition: all 0.3s ease-in-out;
}
/* line 11, ../sass/pages/_testimonalSection.scss */
.testimonial-section .container .testimonial-carousel-list:hover {
  box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
  top: -5px;
}
/* line 15, ../sass/pages/_testimonalSection.scss */
.testimonial-section .container .testimonial-carousel-list .testimonial-word {
  padding-left: 100px;
  padding-right: 100px;
}
/* line 17, ../sass/pages/_testimonalSection.scss */
.testimonial-section .container .testimonial-carousel-list .testimonial-word img {
  margin: 0 auto;
}
/* line 20, ../sass/pages/_testimonalSection.scss */
.testimonial-section .container .testimonial-carousel-list .testimonial-word h2 {
  color: #e05c1f;
  font-size: 12px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
/* line 27, ../sass/pages/_testimonalSection.scss */
.testimonial-section .container .testimonial-carousel-list .testimonial-word p {
  line-height: 25px;
}
/* line 32, ../sass/pages/_testimonalSection.scss */
.testimonial-section .container .margin-top-20 {
  margin-top: 20px;
}

/* line 38, ../sass/pages/_testimonalSection.scss */
.owl-navi {
  color: #e05c1f;
}

/* line 42, ../sass/pages/_testimonalSection.scss */
.owl-navi:hover {
  color: #000000 !important;
}

/* line 46, ../sass/pages/_testimonalSection.scss */
.owl-theme .owl-controls .owl-buttons div {
  display: inline-block;
  zoom: 1;
  margin: 5px;
  padding: 7px 13px;
  background-color: transparent;
  opacity: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 1, ../sass/pages/_serviceSection.scss */
.service-section {
  position: relative;
  top: 700px;
}
/* line 4, ../sass/pages/_serviceSection.scss */
.service-section .container .services-detail {
  border-radius: 4px;
  border-bottom-right-radius: 20%;
  background-color: #ffffff;
  box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
  transition: all 0.3s ease-in-out;
  position: relative;
  top: 0px;
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 60px;
  margin-top: 32px;
}
/* line 13, ../sass/pages/_serviceSection.scss */
.service-section .container .services-detail:hover {
  box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
  border-bottom-right-radius: 3px;
  top: -5px;
}

/* line 1, ../sass/pages/_contactSection.scss */
.contact-section {
  position: relative;
  top: 700px;
}
/* line 3, ../sass/pages/_contactSection.scss */
.contact-section .sub-footer {
  width: 100%;
}
/* line 5, ../sass/pages/_contactSection.scss */
.contact-section .sub-footer p {
  font-size: 16px;
}
/* line 8, ../sass/pages/_contactSection.scss */
.contact-section .sub-footer .social-links {
  text-decoration: none;
  list-style: none;
  text-align: center;
}
/* line 12, ../sass/pages/_contactSection.scss */
.contact-section .sub-footer .social-links li {
  display: inline-block;
  padding: 10px 12px;
  background: #e05c1f;
  margin-left: 25px;
  border-radius: 50%;
}

@media (max-width: 767px) {
  /* line 2, ../sass/mediaQuery/_responsive.scss */
  #nav-navbar .nav-menuItem,
  #nav-navbar .navbar-collapse {
    width: 100%;
  }

  /* line 6, ../sass/mediaQuery/_responsive.scss */
  .navbar-collapse {
    background: rgba(56, 56, 56, 0.95);
    border-color: #464646;
    position: absolute;
    left: 0px;
    z-index: 1;
    width: 100%;
  }
}
